<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            {%  if request.user.is_anonymous %}
                                <a class="nav-link" href="{% url 'signup' %}">Sign up</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {%  if request.user.is_anonymous %}
                                <a class="nav-link" href="{% url 'login' %}">Log in</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'announcements' %}">Announcements list</a>
                        </li>
                        {% for group in request.user.groups.all %}
                            {% if group.name == 'authors' %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'comments' %}">Comments on your announcements</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if perms.announcements.add_announcement %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'announcement_create' %}">Create announcement</a>
                            </li>
                        {% endif %}
                        {% if 'announcements' in request.path and 'create' not in request.path and 'update' not in request.path and 'delete' not in request.path and 'comment' not in request.path and request.user.is_authenticated and announcement.author.author != request.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'comment_create' announcement.pk %}">Add comment</a>
                            </li>
                        {% endif %}
                        {% if 'announcements' in request.path and 'create' not in request.path and 'update' not in request.path and 'delete' not in request.path and 'comment' not in request.path and request.user.is_authenticated and announcement.author.author == request.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'announcement_update' announcement.pk %}">Change announcement</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>        <!-- Page content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% if request.user.is_authenticated %}
                        You logged in as {{ request.user.username }}
                    {% endif %}
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
